*{
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}

.image_card{
    width:100%;
    height:auto;
    background-color: #FFF9F9;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 8px rgba(36,36,36,.1);
    position: relative;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.image_card:hover{
    box-shadow: 0 0 10px rgba(36,36,36,.1);
    
}

.image_card .image{
    text-align: center;
 
}

.image_card .image img{
    
   
    width: 100%;
    overflow: hidden;
    height:250px;
    object-fit: cover;
    display: inline-block;

}
.image_card .badge-blue{
    background-color: blue;
    color: white;
    padding:5px 10px;
    border-radius: 8px;
    position: absolute;
    top:20px;
    right: 20px;
    font-size: 14px;
    font-weight: 500;
}
.image_card .content{
    padding: 20px;
}
.image_card .content .title h2{
    

    font-weight: bold;
    color: #000;
    line-height: 35px;
}

.image_card .content .divider{
    width:30%;
    height:2px;
    background-color: rgba(0,0,0,0.125);
    margin:10px 0px;
}

.image_card .content .excerpt p{
    margin:15px 0px;
    font-size: 18px;
    color: #333;
    line-height: 24px;
    font-weight: 400;
}

.image_card .content .read_more_btn a{
  background: linear-gradient(45deg,blue,  #6d0aee); /* violet-blue gradient */
  color: white;
  border:  double #fff; /* violet-blue border */
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 35px;
  text-decoration: none;;
  cursor: pointer;
  display: inline-block;
  margin-top:20px;
  transition: background 0.3s ease;
}

.image_card .content .read_more_btn a:hover{
    background: linear-gradient(45deg, red, #e403d8);
}

.image_card .content .read_more_btn a .elementor-button-icon {
    margin-left: 8px;
    font-size: 16px;
    vertical-align: middle;
}


/*
.dp-button-group .dp-button{
    
    color: white;
    border: double #fff;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 35px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    transition: background 0.3s ease;
}

.dp-button.style1{
    background: linear-gradient(45deg, blue, #6d0aee); 
    border: double #fff; 
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 35px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    transition: background 0.3s ease;
}

.dp-button.style2{
    background: linear-gradient(45deg, rgb(206, 3, 247), #c50194); 
    border:none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    transition: background 0.3s ease;
}

*/

.dp-button-group {
    font-size:16px;
    line-height: 30px;
    font-weight: 500;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;   
}

.dp-button-group .dp-button {
   padding: 12px 25px;
}

.dp-button svg{
    font-size:16px;
    vertical-align: middle;
    margin-left: 10px;
}

.read_more_btn .card-button svg{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.read_more_btn .card-button i{
   font-size: 16px;
    vertical-align: middle;
    margin-left: 10px;
}


.dp-video-overlay {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dp-video-overlay img {
    width: 100%;
    height: auto;
    display: block;
}

.dp-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 15px;
}
